.homepage{
    height: 100%;display: flex;flex-direction: column;
    margin-bottom: 1.67rem;
}
.homepage .first-page{
    background: #f4f4f4;
}
.homepage .top{
    background: linear-gradient(90deg,#36db84,#0eb27b);
    height: 1.24rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .17rem .32rem 0 2.2rem;
}
.homepage .search{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: .9rem;
    padding: 0 .4rem 0 1.06rem;
    border-radius: .45rem;
    background: hsla(0,0%,100%,.2);
}
.homepage .btn{
    position: absolute;
    top: .05rem;
    left: .18rem;
    width: .8rem;
    height: .8rem;
    background: url(//img05.yiguoimg.com/e/web/161222/01856/102912/search.png) no-repeat;
    background-size: 100% 100%;
}
.homepage .am-carousel{
    margin-top:1.24rem; 
}
.homepage .first-screen img{
    display: block;
    width: 100%;
    height: 3.8rem;
}
.homepage .first-menu{
    padding: .34rem .21rem .02rem;
    background: #fff;
    background-size: 100% 100%;
    overflow: hidden;
}
.homepage .first-menu .one{
    float: left;
    width: 25%;
    padding: 0 0 .48rem;
    text-align: center;
    color: #333;
}
.homepage .first-menu .one img{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
}
.homepage .first-news{
    box-sizing: border-box;
    height: 1.1rem;
    padding: .22rem .32rem .22rem 3.35rem;
    background: #fff;
    position: relative;
}
.homepage .first-news i{
    position: absolute;
    top: .35rem;
    left: .5rem;
    width: 2.26rem;
    height: .44rem;
    background: url(//img06.yiguoimg.com/e/web/161222/018522/134216/news.png) no-repeat;
    background-size: 100% 100%;
}
.homepage .first-news .news-container{
    height: 20px;

    overflow: hidden;
}
.homepage .first-news .swiper-container{
    animation:go 10s infinite;
}
@keyframes go{
    0%{transform: translate3d(0px, 0px, 0px)}
    24%{transform: translate3d(0px, 0px, 0px)}
    25%{transform: translate3d(0px, -20px, 0px)}
    49%{transform: translate3d(0px, -20px, 0px)}
    50%{ transform: translate3d(0px, -40px, 0px)}
    74%{ transform: translate3d(0px, -40px, 0px)}
    75%{ transform: translate3d(0px, -60px, 0px)}
    99%{ transform: translate3d(0px, -60px, 0px)}
    100%{transform: translate3d(0px, 0px, 0px)}

}
.homepage .first-news p{
    color: rgb(51,51, 51);
    height:20px;
    line-height: 20px;
}
.homepage .floor,.floor img{
    width: 100%;
}
.homepage .floor .products{
    overflow: hidden;
    width: 100%;
    height: 6.1rem;
    background: #fff;
}
.homepage .floor .products .product{
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 7rem;
    padding: .32rem 0 .58rem .32rem;
    white-space: nowrap;
}
.homepage .floor  .product .proitem{
    display: inline-block;
}
.homepage .floor .proitem img{
    width: 3.5rem;
    height: 3.5rem;
}
.homepage .floor .proitem .info{
    box-sizing: border-box;
    width: 3.5rem;
    padding: .2rem .2rem 0;
    text-align: center;
}
.homepage .floor .proitem .name{
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.homepage .floor .proitem .saletip{
    height: .5rem;
    padding: .22rem 0 0;
}
.homepage .floor .proitem .saletip span{
    display: inline-block;
    /* height: .46rem;
    line-height: .5rem; */
    margin-right: .1rem;
    padding: 0 .2rem;
    color: #45b575;
    border: 1px solid #45b575;
    border-radius: 1em;
}
.homepage .floor .proitem .price{
    color: #8d8a8a;
    margin-top: .22rem;
}
.homepage .floor .proitem strong{
    margin-right: .1rem;
    font-size: .36rem;
    font-weight: bold;
    color: #fb3d3d;
    font-size: .36rem;
}
.homepage .noMore {
    position: relative;
    width: 3.5rem;
    height: 1rem;
    margin: 1.5rem auto 0.5rem;
    border-top: 1px solid #808080;
}
.homepage .noMore p {
    font-size: .38rem;
    color: #808080;
    position: absolute;
    top: -.22rem;
    left: 50%;
    margin-left: -1.5rem;
    background: #f4f4f4;
    width: 3rem;
    text-align: center;
}