.searchList .navlist{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.36rem;
    background: #fff;
    overflow: hidden;
    z-index: 100;
    box-sizing: border-box;
}
.searchList .navlist .list{
    float: left;
    width: 33.3333%;
    font-size: .4rem;
    padding: .36rem 0;
    text-align: center;
    color: #808080;
    overflow: hidden;
    box-sizing: border-box;
}
.searchList .navlist .list.active{
    border-bottom: 2px solid #11B57C;
    box-sizing: border-box;
    color: #11B57C;
}
.searchList .navlist .priceIcon{
    display: inline-block;
    width: .18rem;
    height: .26rem;
    background: url(//img06.yiguoimg.com/d/web/170830/00911/152542/priceone.png) no-repeat;
    background-size: 100% 100%;
    margin-left: .2rem;
}
.searchList .productshow{
    padding-top: 1.36rem;
}
.searchList .productshow .productContent{
    z-index: 10;
    position: relative;
    padding: .5rem .32rem;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
}
.searchList .productshow .img{
    position: relative;
    float: left;
    width: 3.47rem;
}
.searchList .productshow .img img{
    width: 3.47rem;
    height: 3.47rem;
}
.searchList .productshow .inforPro{
    float: right;
    width: 8rem;
}
.searchList .inforPro .title{
    font-size: .46rem;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: .6rem;
}
.searchList .inforPro .txt{
    font-size: .36rem;
    color: #808080;
    padding: .3rem 0 .3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.searchList .inforPro .label{
    font-size: .36rem;
    line-height: .36rem;
    padding: .13rem .2rem .11rem;
    border: 1px solid #11B57C;
    border-radius: 0.12rem 0 0.12rem 0;
    font-style: normal;
    color: #11B57C;
    background: #fff;
}
.searchList .inforPro .price{
    position: relative;
    height: .8rem;
    padding: .3rem 0;
    z-index: 10;
}
.searchList .inforPro .price .priceRed{
    font-size: .46rem;
    color: #fd3d3d;
    padding-right: .45rem;
    line-height: .8rem;
}
.searchList .inforPro .price .standard{
    font-size: .34rem;
    color: #808080;
    line-height: .8rem;
    padding-right: .2rem;
}
.searchList .inforPro .price .addCart{
    z-index: 100;
    position: absolute;
    right: .5rem;
    top: .3rem;
    width: .8rem;
    height: .8rem;
    background: url(//img05.yiguoimg.com/d/web/180508/01311/150610/add.png) no-repeat;
    background-size: 100% 100%;
}
.searchList .noProduct{
    padding-top: 3rem;
}
.searchList .noProduct img{
    width: 3.6rem;
    height: 3.6rem;
    display: block;
    margin: 0 auto;
}
.searchList .noProduct .hint{
    font-size: .46rem;
    color: #808080;
    text-align: center;
    padding: 1rem 1.25rem 1.9rem;
    line-height: .6rem;
}